body {
  background: #020617;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #0f172a;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px #22c55e;
}

.options button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.options button:hover {
  background: #22c55e;
}

#progress {
  margin-top: 15px;
  color: #facc15;
}